.bg-green
{
    background-color: black!important;
}

.navbar li {
    padding: 15px;
    margin: 15px;
}
.navbar li a:hover{ 
    color: #14b7db;
}

.navbar a{
    color: #F89C21;
    text-decoration: none;
    text-transform: uppercase;
}

.potis button{
    background-color: black; 
    color: #F89C21;
    text-decoration: none;
    border-radius: 7px;
}

.potis button:hover{
    color: #14b7db;
}

/*catalog.blade*/

#filter
{
    color: #F89C21;
    background-color:black;
    font-size:15px;
    
}

#filter:hover{      
    color: #14b7db;
}

#category
{
    color: #F89C21;
    background-color:black;
    font-size:15px;
}

#category:hover{      
    color: #14b7db;
}

.cupi{
    background-color: black; 
    color: #F89C21;
    text-decoration: none;
    
}

.cupi:hover{
    color: #14b7db;
}

/*catalog.blade*/

/*home.blade*/

.card-header{
    background: black!important;
    color: #F89C21!important;
}

.card-header:hover{
    color: #14b7db!important;
}

.card-body{
    background: gray;
    color: #F89C21!important;
}

.card-body:hover{
    color: #14b7db!important;
}

.col-lg-4{
    background: white;
}
/*home.blade*/

/*app.blade*/

.dropdown-menu{
    color: #14b7db!important;
    background: gray!important;
}

.dropdown-item{
    background: gray!important;
}

footer{
    background-color: #14011C;
    
    
}

.logofooter{
    margin-top: 50px;
    
    height: 80px;
    width: 80px;
    
}
.noga
{
    display: flex;
    justify-content: flex-end;
}
/*app.blade*/

/*welcome.blade*/



/*welcome.blade*/