.bg-green
{
    background-color: rgb(37, 11, 44)!important;
}

body{
    background-color: #d1ca6d!important;
}

.navbar li {
    padding: 15px;
    margin: 15px;
}
.navbar li a:hover{
    color: #14b7db;
}

.navbar a{
    color: #F89C21;
    text-decoration: none;
    text-transform: uppercase;
}

.potis button{
    background-color: black;
    color: #F89C21;
    text-decoration: none;
    border-radius: 7px;
}

.potis button:hover{
    color: #14b7db;
}

/*catalog.blade*/
.knopks{
    display: flex;
    justify-content: space-around;
}

.knopk{
    display: flex;
    justify-content: space-around;
}

#filter
{
    color: #F89C21;
    background-color:black;
    font-size:15px;
    width: 200px;
    height: 30px;
}

#filter:hover{
    color: #14b7db;
}

#sort
{
    color: #F89C21;
    background-color:black;
    font-size:15px;

}

#sort:hover{
    color: #14b7db;
}

#category
{
    color: #F89C21;
    background-color:black;
    font-size:15px;
}

#category:hover{
    color: #14b7db;
}

.cupi{
    background-color: black;
    color: #F89C21;
    text-decoration: none;

}

.cupi:hover{
    color: #14b7db;
}

.pifo{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.bordercard{
    border: 2px solid black;
    margin: 10px;
    border-radius: 10%;
    width:  300px!important;
    background: #b1e064!important;
}

.imgcard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: 220px;
    /* width: 220px; */
    background: white;
    border-radius: 20px;
}

.imgcard img{
    border-radius: 15%;
    transition: 1s;
}

.imgcard img:hover{
    transform: scale(1.2);
}


.ifot{
    width: 200px;
}

.infocard{
    flex-direction: column;
    align-items: center;

}

/*catalog.blade*/

/*home.blade*/

.card-header{
    background: black!important;
    color: #F89C21!important;
}

.card-header:hover{
    color: #14b7db!important;
}

.card-body{
    background: gray;
    color: #F89C21!important;
}

.card-body:hover{
    color: #14b7db!important;
}

.col-lg-4{
    background: white;
}

.btn{
    background: black!important;
    color: #F89C21!important;
    margin-top: 10px;
}

.btn:hover{
    color: #14b7db!important;
}

.otpr{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*home.blade*/

/*app.blade*/

.dropdown-menu{
    color: #14b7db!important;
    background: gray!important;
}

.dropdown-item{
    background: gray!important;
}

/*app.blade*/

/*soloproduct.blade*/

.cards_solo{
    border: 4px solid black;
    margin: 10px;
    height: 500px;
    width:600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards_solo img{
    height: 280px;
    width: 400px;
    transition: 1s;
}

.cards_solo img:hover{
    transform: scale(1.2);
}

.right{
    border: 4px solid black;
    background: #b1e064;
    width: 300px;
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 4rem;
    margin-left: 70px;
}

.cardsinfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

.character{
    padding-left: 1rem;
    padding-top: 1rem
}

/*soloproduct.blade*/

/*where.blade*/

.where{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
    margin-top: 50px;
}

.wheremap{
    border: 5px solid black;
    border-radius: 30px;
    width: 850px;
    overflow: hidden;
}

.wheremap img{
    border-radius: 25px;
    max-width: 100%;
    outline: 1px solid black;
}

.wheremap img:hover{
    width: 850px;
    transform: scale(1.5, 1.5);
    transition: 1s;
}

.contacts{
    margin-top: 170px;
    border: 3px solid black;
    height: 212px;
    width: 173px;
    border-radius: 10px;
    background-color: #b1e064;
}

.contacts p{
    margin-left: 10px;
    margin-top: 5px;
}

/*where.blade*/

/*about.blade*/

.logos{
    margin-left: 430px;
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosh{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logos h1{
    margin-top: 50px;
}

.carousel-item{
    border: 4px solid black;
    background: #b1e064;
    margin-top: 50px;
}


.carousel-item img{
    width: 450px;
    height: 450px;
    display: flex;
    margin-left:425px;
}

.carousel-control-prev-icon{
    background-color: black;
    border-radius: 12px;
}

.carousel-control-next-icon{
    background-color: black;
    border-radius: 12px;
}

.carousel-indicators button{

    background-color: black!important;
}

.carousel-caption h5{
    color: black;
    background-color: #b1e064;
    border: 2px solid black;
    border-radius: 5px;
    width: 120px;
    margin-left: 390px;
}

.carousel-caption p{
    color: black;
    background-color: #b1e064;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    margin-left: 410px;
}

/*about.blade*/

/*cart.blade*/

.cartbp{
    background-color: #b1e064;
    border: 3px solid black;
}
.cartname{
   width: 100px;
   height: 20px;
}

.cartname p{
    color: #F89C21;
    background: black;
    width: 100px;
}

.cartminpl a{
    text-decoration: none;
    font-size: 20px;
}

/*cart.blade*/

/*admin.blade*/

.input-group form{
    display: flex;
}

.admincontainer p{
    background: white;
    color: black;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.delcat{
    display: flex;
    margin-right: 100px;
    width: 600px;
    justify-content: space-between;
}

.b1{
    background: black;
    color: #F89C21;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}

.b1:hover{
    color: #14b7db;

}

.b2{
    background: black;
    color: #F89C21;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.b2:hover{
    color: #14b7db;

}

.b3{
    background: black;
    color: #F89C21;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.b3:hover{
    color: #14b7db;

}

/*admin.blade*/

/*red_tov.blade*/

    .button_red{
        background: black;
        color: #F89C21;
        border-radius: 5px;
    }

    .button_red:hover{
        color: #14b7db;
    }

/*red_tov.blade*/

